img {
  width: 200px;
  margin: 20px;
  border: 2px solid black;
}
body {
  padding-top: 70px;
}

.tamagotchi-styling {
  background: linear-gradient(to right, #88a075, #cce8b4, #88a075);
  text-align: center;
  width: 30%;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-radius: 30%;
  border: 2px solid black;
}

button {
  margin: 10px 3px;
}

#giphy-search, #giphy {
  margin-top: 20px;
  /*text-align: center;*/
}

#weather-search, #weather-display {
  margin-top: 20px;
}
